@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<table class="table table-hover">
    <thead class="thead-inverse">
        <tr>
            <td>
                角色名称
            </td>
            <td>
                管理员
            </td>
        </tr>
    </thead>
@foreach (Dto.roles role in ViewBag.lst) { 
    
    <tr>
        <td>
            @role.rname
        </td>
        <td>
            @(role.isadmin == "1" ? "是" : "不是")
        </td>
    </tr>
}

</table>

@section scripts2{
    <script type="text/javascript">
       
        
    </script>
}